
.container{
    margin-left: 600px;
    margin-top: 50px;
}

.Välkommen{
    margin-left: 440px;
    padding-top: 100px;
}


.tr{
    margin-left: 600px;
}

.h2 .name{
    padding-top: 200px;
}

.postdiv{
    margin-left: 600px;
}
